.input {
	background-color: #f8f9fa;
	margin: 10px 10px 10px 10px;
	height: 45px;
	border-style: none;
}

.inputCell {
	margin: 20px 20px 20px 20px;
	display: inline-block;
	flex: 1;
}

.flexBox {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}

.suggestions {
	margin: 10px 10px 10px 10px;
	margin: 20px 20px 20px 20px;
}

.suggestionRow {
	padding: 10px 10px 0px 10px;
	background-color: #aed6fe;
	margin: 10px 10px 10px 10px;
	width: 140px;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	text-align: center;
}

.good {
	background-color: #70f4c8;
}

.bad {
	background-color: #ff8585;
}

.suggestionHead {
	display: flex;	
}

.suggestionDate {
	flex: 1;	
}

.horizontal {
	display: inline-block;
}

.vertical {
	width: 100%;
	margin-top: 20px;
}

.buttonHeight {
	height: 40px;
}

.icon {
	height: 50px;
	width: 50px;
}

.dropdownIcon {
	height: 20px;
	width: 20px;
}

.rightMargin {
	margin-right: 20px;
}
