.input {
	background-color: #f8f9fa;
	margin: 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
	height: 56px;
	border-style: none;
}

.suggestions {
	margin: 10px 10px 10px 10px;
	margin: 20px 20px 20px 20px;
}

.suggestionRow {
	padding: 10px 10px 10px 10px;
	background-color: #f8f9fa;
	margin: 10px 10px 10px 10px;
}

.goodSuggestionRow {
	padding: 10px 10px 10px 10px;
	background-color: #effff1;
	margin: 10px 10px 10px 10px;
}

.suggestionHead {
	display: flex;	
	border-bottom: 1px solid #808080;
}

.suggestionDate {
	flex: 80%;	
}

.horizontal {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.vertical {
	width: 100%;
	margin-top: 20px;
}

.buttonHeight {
	height: 40px;
}

.icon {
	height: 50px;
	width: 50px;
}

.dropdownIcon {
	height: 24px;
	width: 24px;
}

.rightMargin {
	margin-right: 20px;
}
